*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}

/* HEADER */

.header{
    position: relative;
    margin: 5% 0;
}

.header__title{
    width: 100%;
    position: absolute;
    font-size: 3em;
    text-indent: 0.1em;
}

.header__img{
    height: 15em;
    background-image: url(../assets/img/design1_image1.jpg);
    background-position: center;
    margin-bottom: 0.2em;
}

.header__subtitle{
    background: black;
    color: white;
    text-align: center;
}

.header__logo{
    height: 10em;
    position: absolute;
    right: 5%;
    top: 60%;
}

.header__logo__logo{
    height: 100% ;
}

/* MAIN */

.main{
    display: flex;
}

/* NAVBAR */

.main__navbar{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__navbar__anchor{
    margin-bottom: 3em;
}

/* SECTION --- HOME PAGE, ABOUT PAGE */

.main__content{
    width: 85%;
}

.home__main__content__game{
    padding-left: 2em;
    margin-bottom: 1em;
}

.selected{
    text-decoration: none;
    color: black;
}

/* SECTION --- CONTACT PAGE */

.contact__main__content__p{
    margin-bottom: 1em;
}

/* SECTION -- RULES & POLICIES, GAME INFORMATION */

.bold{
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

.textCenter{
    text-align: center;
}

.oblique{
    font-style: oblique;
}

.subline{
    text-decoration: underline;
}

.buttonSpace{
    margin-bottom: 2em;
}

.indent{
    text-indent: 2em;
}

.liAlign{
    margin-left: 1em;
}

.liAlign2{
    margin-left: 4em;
}

.inline{
    display: inline;
}

::marker{
    font-weight: bold;
}

.listTipe_a{
    list-style: lower-alpha;
}

.listType_whiteCircle{
    list-style: circle;
}

/* GAME INFORMATION */

.containerFlex{
    display: flex;
    justify-content: space-between;
}

.buttonSpace2{
    margin-bottom: 4em;
}

.gameInfo__main__section__table{
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.textStart{
    text-align: start;
}
